.decorativeBox {
  background-color: rgb(247 247 247);
  height: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.boxInner {
  background-color: rgb(247 247 247);
  background-image: url('/floral-border-2.png'), url('/floral-border-1.png');
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 38%;
  height: 100%;
  padding: 0 20%;
  text-align: center;
}

.decoration {
  --inlay: 3rem;
  --size: 35%;
  height: var(--size);
  pointer-events: none;
  position: absolute;
  width: var(--size);
}

.decorationBottom {
  composes: decoration;
  left: var(--inlay);
  bottom: var(--inlay);
}

.decorationTop {
  composes: decoration;
  right: var(--inlay);
  top: var(--inlay);
}
