.widthContain {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.padded {
  padding-left: 2rem;
  padding-right: 2rem;
}

.xs {
  width: 600px;
}

.small {
  width: 800px;
}

.medium {
  width: 1200px;
}

.large {
  width: 1440px;
}

.xl {
  width: 1600px;
}
