.widthContain {
  margin-left: auto;
  margin-right: auto;
}

.padded {
  padding-left: 4rem;
  padding-right: 4rem;
}

.xs {
  max-width: 600px;
}

.small {
  max-width: 800px;
}

.medium {
  max-width: 1200px;
}

.large {
  max-width: 1440px;
}

.xl {
  max-width: 1600px;
}
