:global {
  :root {
    --pulloutWidth: 40vw;
  }
}

.container {
  background-color: white;
  border-right: 1px solid black;
  height: 100vh;
  position: fixed;
  top: 0;
  left: calc(var(--pulloutWidth) - (var(--pulloutWidth) * 2));
  transition: 0.3s;
  width: var(--pulloutWidth);
  z-index: 2;
}

.pulloutOpen {
  left: 0;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  left: var(--pulloutWidth);
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100vw;
}
