@media(--aboveTablet) {
  .main {
    position: relative;
    top: -10rem;
  }

  .border {
    background: lightgrey;
    height: calc(10rem + 1px);
    left: 50%;
    position: absolute;
    top: -1px;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    z-index: 0;
  }
}

.card {
  background-color: white;
  color: black;
  padding: 3rem;
  position: relative;
  z-index: 1;
}
