.container {
  transition: text-shadow 0.3s;

  @media(--tablet) {
    border-bottom: 1px solid lightgrey;
    display: block;
    padding: 1rem;
  }
}

.active {
  text-shadow: 0 0 0.65px rgb(51 51 51), 0 0 0.65px rgb(51 51 51);
}