.infoArrow {
  z-index: 1;
  display: flex;
  align-items: center;

  @media(--aboveTablet) {
    width: 550px;
  }
}

.arrowWrapper {
  transform: rotate(200deg);
}

.arrowNote {
  transform: rotate(-14deg) translateY(-55%);

  @media(--tablet) {
    left: 70px;
    top: 70px;
    max-width: 220px;
    position: relative;
  }
}
