.box {
  
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal,
.grow {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: var(--gap);
  }
}

.flexInline {
  display: inline-flex;
}

.horizontal,
.grow,
.flexInline {
  > *:not(:last-child) {
    margin-right: var(--gap);
  }
}

.grow {
  > * {
    flex: 1;
  }
}

.relative {
  position: relative;
}
